{% extends 'base.html.twig' %}

{% block stylesheet %}
    
{% endblock %}

{% block title %}
    Upload CSV/XML
{% endblock %}

{% block body %}
    <div class="content">
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascript %}
    
{% endblock %}