{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body{
            background-color: #0F83E8;
        }
        h1, label{
            color: #ffffff;
        }
        .content-center{
            text-align: center;
            width: 50%;
            margin: 50px auto 0 auto;
        }
    </style>
{% endblock %}

{% block title %}
    Upload CSV/XML
{% endblock %}

{% block body %}
    <div class="content-center">
        <h1>Formulaire d'upload</h1>
        <form class="row" method="post" datatype="application/json">
            <div class="row">
                <label for="file" class="form-label">Insérer les fichiers d'extension .csv / .xml</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
            <div class="row">
                <input type="submit" placeholder="Envoyer">
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {

            let route = "{{ path('api_post_file') }}";
            let file = $("#file").val();
            console.log(file);
            $("form").submit(function (event) {
                $.ajax({
                    type: "POST",
                    url: route,
                    data: {file: file},
                    dataType: "json",
                    success: function (json, status) {
                        console.log(status);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
{% endblock %}
